<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.paulcowie.cinnotify">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.AllowedAppsActivity"
            android:theme="@style/ActionBarOverlayAppTheme"
            android:label="@string/allowed_apps_title"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".settings.SettingsActivity"/>
        <activity
            android:name=".settings.ServiceDiscoveryActivity"
            android:label="@string/service_discovery_title"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".settings.SettingsActivity"/>
        <service android:name=".NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
